.card {
  background: var(--color-white);
  padding: 42.5px 15px;
  border-radius: 15px;
  border: none;
  box-shadow: 2px 4px 10px var(--color-box-shadow-black);
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 40px 20px;
  position: relative;
}

.card:last-child {
  margin: 100px;
}

.card__content {
  text-align: center;
}

@media (max-width: 699px) {
  .card {
    flex-direction: column;
  }
}

@media (min-width: 700px) {
  .card {
    flex-direction: row;
  }

  .card-reverse {
    flex-direction: row-reverse;
  }

  .card__content {
    text-align: left;
    padding-left: 80px;
  }
}
