:root {
  --color-white: #fefefe;
  --color-black: #111;
  --color-primary: hsl(322, 100%, 66%);
  --color-primary-light: hsl(322, 80%, 74%);
  --color-pale-cyan: hsl(193, 100%, 96%);
  --color-dark-cyan: hsl(192, 100%, 9%);
  --color-gray-blue: hsl(208, 11%, 55%);
  --color-box-shadow-pink: hsla(322, 100%, 66%, 0.3);
  --color-box-shadow-black: hsla(192, 100%, 9%, 0.1);
  --mobile-width: 375px;
  --desktop-width: 1440px;
}
