.button-card {
  background: var(--color-white);
  padding: 42.5px 15px;
  border-radius: 15px;
  border: none;
  width: 100%;
  height: fit-content;
  text-align: center;
  box-shadow: 2px 4px 10px var(--color-box-shadow-black);
}

.button {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 12px;
  height: 50px;
  border-radius: 25px;
  border: none;
  box-shadow: 2px 4px 10px var(--color-box-shadow-black);
  margin-top: 15px;
  scale: 80%;
}

.button__heading {
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  padding: 0 70px;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
