.app-header {
  background: var(--color-pale-cyan)
    url(../../../design/images/bg-hero-mobile.svg);
  color: var(--color-dark-cyan);
  width: 100%;
  height: auto;
  margin: 0;
  padding: 30px;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

.app-header__logo {
  width: auto;
  height: 13px;
}

.app-header__welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 60px;
}

.app-header__mockup {
  width: 100%;
  height: auto;
}

.app-header__button {
  width: 70%;
  height: auto;
  margin: 40px 0;
}

@media (max-width: 699px) {
  .app-header__welcome {
    flex-direction: column;
  }
}

@media (min-width: 700px) {
  .app-header__welcome--desktop {
    flex-direction: row;
    text-align: left;
    padding-left: 40px;
  }

  .app-header__button {
    max-width: 300px;
  }

  .app-header__mockup {
    margin-left: 80px;
  }
}
